main{
    padding: 2em;
}


/*header 기본 스타일*/
header .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 1em;
}/*header(아티스트 소개) 디자인은 개별 적용*/



/*작품 레이아웃 스타일1*/
.content-style1{
    width: 100%;
    height: 100vh;
    padding: 2em 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.content-style1 img{
    width: 100%;
    border: 2px solid black;
}
.content-style1 .content-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1em;
}



/*작품 레이아웃 스타일2*/
.content-style2{
    width: 100%;
    height: 100vh;
    padding: 3em 10%;
    display: flex;
    flex-direction: row;
}
.content-style2 img{
    height: 100%;
    border: 2px solid black;
    margin-right: 3em;
}
.content-style2 .content-wrapper{
    padding: 2em;
}
.content-style2 .content-wrapper h2{
    margin-bottom: 0.5em;
}
.content-style2 .content-wrapper p{
    margin-bottom: 1em;
}
/*reverse*/
.content-style2.reverse{
    flex-direction: row-reverse;
}
.content-style2.reverse img{
    margin-right: 0;
    margin-left: 3em;
}



/*작품 레이아웃 스타일3*/
.content-style3{
    width: 100%;
    height: 100vh;
    padding: 3em 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.content-style3 .content-wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.content-style3 .content-wrapper h2{
    margin-bottom: 1.5em;
}
.content-style3 .content-wrapper img{
    border: 2px solid black;
    width: 50%;
    height: auto;
    margin-right: 2em;
}
/*reverse*/
.content-style3.reverse .content-wrapper{
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.content-style3.reverse .content-wrapper img{
    margin-right: 0;
    margin-left: 2em;
}