:root{
    --bgcolor: white;
    --bordercolor: black;
    --basecolor: rgb(255, 187, 0);
}

h2{
    margin: 0;
}


/*상단 정보 레이아웃*/
.info{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-height: 400px;
    padding: 15px 30px;
}

/*제목, 표, 간단한 설정*/
.info-text{
    width: 70%;
    max-width: 320px;
    margin-right: 50px;
}
.info-title{
    background-color: var(--basecolor);
    border: 3px solid var(--bordercolor);
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 1em;
}
/*테두리 설정*/
.info-table-header, .info-table-main, .info-table-main-col, .info-table-footer{
    border: 2px solid var(--bordercolor);
    border-collapse: collapse;
}
.info-table-header{
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
}
.info-table-footer{
    border-top: 0;
    border-radius: 0 0 5px 5px;
    font-size: 0.75rem;
}
/*테이블 레이아웃*/
.info-table-main{
    display: table;
    width: 100%;
}
.info-table-main-row{
    display: table-row;
}
.info-table-main-col{
    display: table-cell;
}
/*내부 요소 간격*/
.info-table-header, .info-table-main-col, .info-table-footer{
    padding: 5px;
}
.blockquote{
    margin: 30px 0 0 0;
    padding: 10px 5px 10px 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px dashed rgba(128, 128, 128, 0.274);
    border-left: 3px solid var(--basecolor);
}



model-viewer {
    width:inherit;
    height: inherit;
    background-color: #00000000;
    --poster-color: #00000000;
    border: 3px solid black;
    border-radius: 5px;
}


.description{
    padding: 30px;
    
}