/*글래스모피즘 카드 디자인*/
.card-glass{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: all 0.5s;
}
.card-glass:hover{
    background: rgba( 255, 255, 255, 0.3);  
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.6);
}



body{
    min-height: 100vh;
    background: linear-gradient(rgba(214, 214, 214, 0.2), rgba(214, 214, 214, 0.1)), url("https://media.discordapp.net/attachments/864387205036245083/904318614180614144/ptn.jpg?width=1124&height=1124");

    /*body 안 요소 가운데정렬*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    /*width 강제지정으로 오른쪽으로 넘어가는 문제 해결*/
    width: calc(100% - var(--sidebar-width) - 2em);
}



header{
    padding: 1em 2em;
    background: rgba( 255, 255, 255, 0.3);
}



/*카드당 간격 일정하게 하기 위해 table 사용*/
.div-table{
    display: table;
    table-layout: fixed;
    width: 100%;
}
.div-table-col{
    display: table-cell;
    padding: 1em;
}

/*카드 디자인*/
.mainpage-contents{
    width: 100%;
    min-height: 20em;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
}

.mainpage-contents .img-wrapper{
    width: 80%;
    padding-top: 80%;
    position: relative;
    overflow: hidden;
}
.img-wrapper img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    transition: all 0.2s;
}
.mainpage-contents:hover .img-wrapper img{
    left: -10%;
    top: -10%;
    width: 120%;
}