/*글래스모피즘 카드 디자인*/
.card-glass{
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: all 0.5s;
}
.card-glass:hover{
    background: rgba( 255, 255, 255, 0.3);
    box-shadow: 0 16px 32px 0 rgba( 31, 38, 135, 0.6 );
}



body{
    min-height: 100vh;
    background: linear-gradient(rgba(214, 214, 214, 0), rgba(214, 214, 214, 1)), url("../resources/geometric-blue-pattern.jpg");
}

header{
    height: 50vh;
    padding: 1em;
}


main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.mainpage-contents{
    width: 17em;
    height: 20em;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1em;
}

.icon-contentspreview{
    font-size: 10em;
}