@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --sidebar-width: 92px;
    --first-color: #121212;
    --second-color: blue;
    --font-color:white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'S-CoreDream-3Light', sans-serif;
}



.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: var(--sidebar-width);
    background-color: var(--first-color);
    padding: 1.5rem 1.5rem 2rem;
    transition: all 0.3s ease-in-out;
    z-index: 100;
}
.sidebar *{
    color: var(--font-color);
}
.sidebar a{
    cursor: pointer;
    text-decoration: none;
}

.sidebar.expanded{
    width: calc(var(--sidebar-width) + 9.25rem)
}


.sidebar-container{
    width: 100%;
    overflow: hidden;
}


.sidebar-header{
    width: calc(var(--sidebar-width) + 9.25rem - 3rem);
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    margin-bottom: 2em;
}
.btn-expand-sidebar{
    width: calc(var(--sidebar-width) - 3rem);
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}




.sidebar-content{
    position: relative;
    width: calc(var(--sidebar-width) + 9.25rem - 3rem);
    border-radius: 5px;
    margin-bottom: 1em;
    display: block;
    justify-content: space-between;
    align-items: center;
}
.sidebar-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 0;
    border-radius: 5px;
    background-color: blue;
    transition: all 0.2s ease-in-out;
}
.sidebar-content:hover::before{
    content: '';
    height: 2.25rem;
}
.sidebar-content.active::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 2.25rem;
    border-radius: 5px;
    background-color: blue;
}

.sidebar-link{
    white-space: nowrap;
    display: flex;
    align-items: center;
}
.sidebar-icon{
    width: calc(var(--sidebar-width) - 3rem);
    text-align: center;
    font-size: 1.25rem;
}
.sidebar-name{
    margin-left: 0.5rem;
}

.sidebar-link{
    padding: 0.5em 0;
    width: 100%;
}
.sidebar-contents-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar-link-expandBtn{
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}


.sidebar-list{
    margin-left: calc(var(--sidebar-width) - 2.5rem);
    position: relative;
}

.sidebar-list-element{
    overflow-y: hidden;
    height: 0;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    border-left: 2px solid gray;
    transition: all 0.2s ease-in-out;
}
.sidebar-list-element.active{
    border-left: 2px solid blue;
}
.sidebar-list-element:hover{
    border-left-width: 5px;
}
.sidebar-list-element-link{
    text-decoration: none;
}

.sidebar.expanded .sidebar-list.expanded .sidebar-list-element{
    height: 1.5em;
}
.sidebar-header-link{
    text-decoration: none;
}

.rotate {
    transform: rotate(180deg);
    transition: .5s;
}



body{
    margin-left: var(--sidebar-width);
    background-color: #F2F4F6;
}