html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}



header{
    margin: 2em;
}
.title{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 1em;
}



main{
    height: auto;
    flex: 1;
}



.node-container{
    width: 100%;
    height: 100%;
    position: relative;
    display: table;
    table-layout: fixed;
}
.node-container::before{
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    height: 4px;
    width: 100%;
    background-color: black;
}


.node{
    position: relative;
    display: table-cell;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.node::before{
    content: "";
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    transition: all 0.2s;
}
.node:hover::before{
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
}

.title-wrapper{
    position: absolute;
    left: 50%;
    top: calc(50% - 10px);
    transform: translate(-50%, -100%);
    transition: all 0.2s;
}
.node:hover .title-wrapper{
    top: calc(50% - 20px);
}

.node-title{
    text-align: center;
    font-size: 1.4rem;
    word-break: keep-all;
    transition: all 0.2s;
}
.node:hover .node-title{
    font-size: 2rem;
}

.node-title-info{
    font-size: 0.1rem;
    text-align: center;
    overflow: hidden;
    height: 0;
    transition: all 0.2s;
}
.node:hover .node-title-info{
    font-size: 1rem;
    height: 2rem;
}



/*카드 디자인*/
.card-content{
    width: 15em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    cursor: pointer;
}

/*이미지*/
.thumbnail{
    background-image: url("https://media.discordapp.net/attachments/864387205036245083/904244361196363786/buddah_2.jpg");
    width: 12em;
    height: 16em;
    background-size: 100%;
    background-position: center;
    transition: all 0.5s;
}
/*카드별 이미지*/
#buddhism .thumbnail{
    background-image: url("../resources/buddhism.png");
}
#christian .thumbnail{
    background-image: url("../resources/christian.png");
}
/*hover 이펙트*/
.card-content:hover .thumbnail{
    background-size: 110%;
}