body{
    padding: 2em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: auto;
}

header{
    width: 100%;
    margin-bottom: 3em;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.search{
    margin-bottom: 1em;
    margin-left: 0.7em;
}

.list{
    flex: auto;
    width: 100%;
    height: inherit;
    overflow-y: scroll;
}
.list-element{
    padding: 0.7em 1em;
    border-bottom: 1px solid gray;
    cursor: pointer;
}
.list-element:last-child{
    border: 0;
}