body{
    min-height: 100vh;
    padding: 2em;

    /*배경이미지 설정*/
    background-image: url("../resources/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: left;
}


/*header 레이아웃*/
header{
    width: 100%;
    margin-bottom: 3em;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 1em;
}


/*메인 레이아웃*/
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    
}


/*카드 디자인*/
.card-content{
    position: relative;
    width: 15em;
    height: 20em;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    background-size: 100%;
    background-position: center;
    overflow: hidden;
    transition: all 0.5s;
    cursor: pointer;
}

/*카드별 배경이미지*/
#노천웅.card-content{
    background-image: url("https://media.discordapp.net/attachments/864387205036245083/904550045381181472/99604C475EFBEA1E26.png");
}
#MarkRothko{
    background-image: url("https://media.discordapp.net/attachments/864387205036245083/904550030927618098/20211101_104113.jpg");
}
#Banksy.card-content{
    background-image: url("https://media.discordapp.net/attachments/864387205036245083/904550013198290984/20211101_101910.jpg");
}
/*카드 hover시 이펙트*/
.card-content:hover{
    background-size: 110%;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.6);
}

/*hover 안했을때 카드 제목 스타일*/
.card-title-prev{
    position: absolute;
    right: 0;
    bottom: 2em;
    padding: 1em;
    color: white;
}
/*hover 했을때 카드 제목 스타일*/
.card-title{
    position: absolute;
    right: -10em;
    bottom: 2em;
    width: 10em;
    padding: 1em;
    background-color: white;
    transition: all 0.4s ease-in-out;
}
.card-title p{
    margin: 1em;
}
/*hover시 .card-title 불러옴*/
.card-content:hover .card-title{
    left: auto;
    right: 0;
}